#cabecera{
	display:none; 
	/* background : none; */
}

#pie{
	/* display:none; */
	background : none;
}

.separador{
	/* display:none; */
	background : none;
}

#ayuda{
	display:none; 
	/* background : none; */
}

.ayuda{
	/* display:none; */
	background : none;
	
}

#cuerpo{
	width:500px;
	height:300px;
	padding:10px;  
}

#cuerpo p{
	font-size:15px;
	font-family: verdana,calibri,arial;
}

#cuerpo a{
	color:black;
}

#global{
	position:absolute;
	top:20%;
	left:31%;
}

.interior{
	background-image:url(img/oegamCab3.png);
	background-repeat: no-repeat;
	background-position:50% -10%;
	background-color:white; 
	/* background-color : #5d0c1f; */ 
	margin-left: -1px
}

.separador{
	display : none;
}





