<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="OegamSession">
  <mapping class="hibernate.entities.facturacion.Factura"/>
  <mapping class="hibernate.entities.facturacion.FacturaPK"/>
  <!--<mapping class="hibernate.entities.facturacion.FacturaCliente" />-->
  <mapping class="hibernate.entities.facturacion.FacturaConcepto"/>
  <mapping class="hibernate.entities.facturacion.FacturaSuplido"/>
  <mapping class="hibernate.entities.facturacion.FacturaGasto"/>
  <mapping class="hibernate.entities.facturacion.FacturaHonorario"/>
  <mapping class="hibernate.entities.facturacion.FacturaOtro"/>
  <mapping class="hibernate.entities.facturacion.FacturaProvFondo"/>
  <mapping class="hibernate.entities.facturacion.FacturaIva"/>
  <mapping class="hibernate.entities.facturacion.FacturaIrpf"/>
  <mapping class="hibernate.entities.facturacion.FacturaSlp"/>
  <mapping class="hibernate.entities.facturacion.FacturaColegiadoConcepto"/>
  <mapping class="hibernate.entities.facturacion.FacturaColegiadoConceptoPK"/>
  <mapping class="hibernate.entities.trafico.Vehiculo"/>
  <mapping class="hibernate.entities.trafico.VehiculoPK"/>
  <mapping class="hibernate.entities.trafico.TipoVehiculo"/>
  <mapping class="hibernate.entities.general.Colegiado"/>
  <mapping class="hibernate.entities.trafico.TramiteTrafico"/>
  <mapping class="hibernate.entities.trafico.TramiteTrafTran"/>
  <mapping class="hibernate.entities.trafico.JustificanteProf"/>
  <mapping class="hibernate.entities.trafico.TramiteAnuntis"/>
  <mapping class="hibernate.entities.trafico.TramiteTrafMatr"/>
  <mapping class="hibernate.entities.trafico.TramiteTrafBaja"/>
  <mapping class="hibernate.entities.trafico.TramiteTrafSolInfo"/>
  <mapping class="hibernate.entities.trafico.TramiteTrafFacturacion"/>
  <mapping class="hibernate.entities.trafico.TipoCreacion"/>
  <mapping class="hibernate.entities.trafico.ColegiadoAnuntis"/>
  <mapping class="hibernate.entities.trafico.IntervinienteTrafico"/>
  <mapping class="hibernate.entities.trafico.IntervinienteTraficoPK"/>
  <mapping class="hibernate.entities.trafico.EvolucionTramiteTrafico"/>
  <mapping class="hibernate.entities.trafico.EvolucionTramiteTraficoPK"/>
  <mapping class="hibernate.entities.trafico.SolicitudPlaca" />
  <mapping class="hibernate.entities.personas.Municipio"/>
  <mapping class="hibernate.entities.personas.MunicipioPK"/>
  <mapping class="hibernate.entities.personas.PersonaDireccion"/>
  <mapping class="hibernate.entities.personas.PersonaDireccionPK"/>
  <mapping class="hibernate.entities.trafico.TipoInterviniente"/>
  <mapping class="hibernate.entities.general.Contrato"/>
  <mapping class="hibernate.entities.trafico.MarcaDgt"/>
  <mapping class="hibernate.entities.trafico.Fabricante"/>
  <mapping class="hibernate.entities.trafico.MarcaFabricante"/>
  <mapping class="hibernate.entities.trafico.MarcaFabricantePK"/>
  <mapping class="hibernate.entities.general.JefaturaTrafico"/>
  <mapping class="hibernate.entities.general.Provincia"/>
  <mapping class="hibernate.entities.general.LocalidadDGT"/>
  <mapping class="hibernate.entities.personas.Persona"/>
  <mapping class="hibernate.entities.personas.PersonaPK"/>
  <mapping class="hibernate.entities.personas.Direccion"/>
  <mapping class="hibernate.entities.general.Cola"/>
  <mapping class="hibernate.entities.trafico.CifsRenting"/>
  <mapping class="hibernate.entities.personas.EvolucionPersona"/>
  <mapping class="hibernate.entities.personas.EvolucionPersonaPK"/>
  <mapping class="hibernate.entities.tasas.Tasa"/>
  <mapping class="hibernate.entities.tasas.EvolucionTasa"/>
  <mapping class="hibernate.entities.yerbabuena.Ybpdf"/>
  <mapping class="hibernate.entities.procesos.Proceso"/>
  <mapping class="hibernate.entities.procesos.ProcesoPK"/>
  <mapping class="hibernate.entities.datosSensibles.DatosSensiblesBastidor"/>
  <mapping class="hibernate.entities.datosSensibles.DatosSensiblesMatricula"/>
  <mapping class="hibernate.entities.datosSensibles.DatosSensiblesNif"/>
  <mapping class="hibernate.entities.datosSensibles.DatosSensiblesBastidorPK"/>
  <mapping class="hibernate.entities.datosSensibles.DatosSensiblesMatriculaPK"/>
  <mapping class="hibernate.entities.datosSensibles.DatosSensiblesNifPK"/>
  <mapping class="hibernate.entities.general.Grupo"/>
  <mapping class="hibernate.entities.general.Usuario"/>
  <mapping class="hibernate.entities.general.Url"/>
  <mapping class="hibernate.entities.general.Aplicacion"/>
  <mapping class="hibernate.entities.general.Funcion"/>
  <mapping class="hibernate.entities.general.UsuarioFuncionSinAcceso"/>
  <mapping class="hibernate.entities.general.AplicacionUrl"/>
  <mapping class="hibernate.entities.general.ContratoColegiado"/>
  <mapping class="hibernate.entities.general.ContratoColegiadoPK"/>
  <mapping class="hibernate.entities.general.ContratoPreferencia"/>
  <mapping class="hibernate.entities.general.ReconocimientoMedico"/>
  <mapping class="hibernate.entities.general.RangoMatricula"/>
  <mapping class="hibernate.entities.general.AccionTramite"/>
  <mapping class="hibernate.entities.general.AccionTramitePK"/>
  <mapping class="hibernate.entities.general.TipoTramiteRenovacion" />
  <mapping class="hibernate.entities.trafico.IvtmMatriculacion" />
  <mapping class="hibernate.entities.trafico.IvtmConsultaMatriculacion" />
  <mapping class="hibernate.entities.trafico.TramiteTraficoIVTM" />
  <mapping class="hibernate.entities.personas.TipoVia" />
  <mapping class="hibernate.entities.trafico.ImpresionMasiva" />
  <mapping class="hibernate.entities.general.PropertiesContext"/>
  <mapping class="hibernate.entities.general.Property"/>
  <mapping class="hibernate.entities.general.Colegio"/>
  <mapping class="org.gestoresmadrid.core.administracion.model.vo.UsuarioLoginVO" />
  <mapping class="hibernate.entities.general.SecPermiso"/>
  <mapping class="hibernate.entities.general.SecGrupo"/>
  
  <mapping class="hibernate.entities.trafico.EvolucionVehiculo"/>
  <mapping class="hibernate.entities.trafico.EvolucionVehiculoPK"/>
  <mapping class="hibernate.entities.trafico.VehiculoTramiteTrafico"/>
  <mapping class="hibernate.entities.trafico.VehiculoTramiteTraficoPK"/>
  
  <mapping class="hibernate.entities.registradores.TramiteRegistro"/>
  
 </session-factory>
</hibernate-configuration>
